---
permalink: README.md
---
# Список инди-сайтов по фронтенду

Инди — это _independent,_ то есть независимый. Значит не компания, не проект и даже не сообщество, а сам автор как есть. Цель этого списка — поддержать независимых авторов на их собственных платформах, познакомить их с новыми читателями и подчеркнуть важность их работы для фронтенда. Поэтому в каждом названии имя автора, а в списке не хватает многих хороших проектов, которые сложно назвать инди.

Условия для добавления:

- Личный блог на своём домене.
- Про фронтенд и около него.
- Публикации в последний год.

Формат добавления:

```yaml
# feeds/your_name.yaml

lang: 'en' | 'ru'
name: 'Your name'
url: 'link to your website'
rss: 'link to your RSS'
description: description (optional)
```

## Русскоязычные
{% for feed in collections.feeds | lang('ru') %}
- [{{ feed.name }}]({{ feed.url }}), [RSS]({{ feed.rss }})
{% endfor %}

## Англоязычные

{% for feed in collections.feeds | lang('en') %}
- [{{ feed.name }}]({{ feed.url }}), [RSS]({{ feed.rss }})
{% endfor %}
